<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h1>Sign In</h1>
                </div>
                <div class="card-body">
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="User" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Sign In
                            </button>
                        </div>
                    </form>
                    <div class="form-group">
                        <a class="btn btn-secondary btn-block" href="/signup">Sign up</a>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-danger btn-block" href="/googleauth">Sign in with Google</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>